main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .container {
    width: unset;
    max-width: 1800px;
    padding: 0 30px;
  }
  
  .color-swatches {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
  }
  
  .color {
    -ms-flex: 1 1 220px;
    flex: 1 1 220px;
    padding: 50px 0;
    text-align: center;
  }
  
  .color.black {
    background: #222;
    color: white;
  }
  
  .color.blue {
    background: #61778e;
    color: white;
  }
  
  .color.brick-red {
    background: #bf311a;
    color: white;
  }
  
  .color.cranberry {
    background: #b64a64;
    color: white;
  }
  
  .color.earth {
    background: #b1953a;
  }
  
  .color.gold {
    background: #e9d666;
  }
  
  .color.grass {
    background: #d1d565;
  }
  
  .color.lavender {
    background: #a289c0;
  }
  
  .color.patina {
    background: #6e998e;
  }
  
  .color.plum {
    background: #7e4f5f;
    color: white;
  }
  
  .color.sea {
    background: #56c2b2;
  }
  
  .color.stone-gray {
    background: #5d6f6a;
    color: white;
  }
  
  .color.tangerine {
    background: #d77045;
  }
  
  .color.yellow {
    background: #e6d990;
  }
  
  html {
    font-size: 16px;
  }
  
  body,
  p {
    font-family: 'Crimson Text', serif;
    color: #222;
    font-weight: 400;
    line-height: 1.45;
  }
  
  p {
    margin-bottom: 1.3em;
    font-size: 1.5rem;
  }
  
  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4 {
    margin: 0 0 0.5em;
    font-weight: inherit;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
  }
  
  h1,
  .h1 {
    margin-top: 0;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
  }
  
  h2,
  .h2 {
    font-size: 2.5rem;
    font-weight: 200;
  }
  
  h3,
  .h3 {
    font-size: 2rem;
    font-weight: 200;
  }
  
  h4,
  .h4 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  h5,
  h6,
  .h5,
  .h6 {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
    font-weight: 700;
  }
  
  small,
  .font_small {
    font-size: 0.667rem;
  }
  
  a {
    color: #b64a64;
  }
  
  .hof-header {
    box-shadow: 0 -20px 30px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
  }
  
  @media (max-width: 1100px) {
    .hof-header {
      padding-bottom: 30px;
    }
  }
  
  .hof-header .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (max-width: 1100px) {
    .hof-header .container-fluid {
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  
  .hof-header .header-branding {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (max-width: 1100px) {
    .hof-header .header-branding {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      margin-bottom: 10px;
      width: 100%;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  
  @media (max-width: 400px) {
    .hof-header .header-branding {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
  }
  
  .hof-header .header-branding .header-logo {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/211696/hof-logo_arch-stone-gray.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    padding: 10px;
    margin-right: 24px;
  }
  
  .hof-header .header-branding .site-title {
    padding: 30px 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 0 0.5em;
    font-weight: inherit;
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
  }
  
  @media (max-width: 1100px) {
    .hof-header .header-branding .site-title {
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
    }
  }
  
  @media (max-width: 700px) {}
  
  .hof-header .header-nav {
    -ms-flex: 0 1 600px;
    flex: 0 1 600px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (max-width: 1100px) {
    .hof-header .header-nav {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 100%;
    }
  }
  
  .hof-header .header-nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  @media (max-width: 1100px) {
    .hof-header .header-nav ul {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      max-width: 750px;
      margin: auto;
    }
  }
  
  @media (max-width: 480px) {
    .hof-header .header-nav ul {
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  
  .hof-header .header-nav li {
    margin: 0;
    padding: 0;
    display: inline;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  @media (max-width: 700px) {
    .hof-header .header-nav li {
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
    }
  }
  
  .hof-header .header-nav li.active a {
    background: #5d6f6a;
    color: white;
  }
  
  .hof-header .header-nav li a {
    display: inline-block;
    padding: 10px 15px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #5d6f6a;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    transition: all 250ms ease;
  }
  
  @media (max-width: 700px) {
    .hof-header .header-nav li a {
      font-size: 1em;
      margin: 0 10px;
    }
  }
  
  .hof-header .header-nav li a:hover,
  .hof-header .header-nav li a:focus {
    background: #5d6f6a;
    color: white;
  }
  
  .hof-footer {
    background: #5d6f6a;
    color: white;
    text-align: center;
    height: 100px;
    margin-top: 100px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/211696/hof-logo_text-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
  }
  
  .hof-footer p {
    color: white;
  }
  
  .hof-jobs-list {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
  }
  
  .hof-vol-job {
    background: white;
    display: inline-block;
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.5);
    padding: 30px;
  }
  
  .hof-vol-job .job-content {
    margin-bottom: 1.5rem;
  }
  
  .hof-vol-job .job-content h2 {
    margin-top: 0;
  }
  
  .hof-vol-job .job-content img {
    height: auto;
    margin-bottom: 1.5rem;
  }
  
  .hof-vol-job .job-table table {
    width: 100%;
  }
  
  .hof-vol-job .job-table tr {
    border-top: 2px solid #ddd;
  }
  
  .hof-vol-job .job-table td {
    padding: 20px 10px;
    font-size: 1.2rem;
    text-align: left !important;
  }
  
  .hof-vol-job .job-table td span {
    line-height: 1;
    font-style: normal !important;
  }
  
  .hof-vol-job .job-table .cssJobShiftSignup a {
    background: #b64a64;
    color: white;
    padding: 5px 10px 8px;
    font-weight: 400 !important;
    text-decoration: none;
    line-height: 1;
    margin-left: -10px;
  }
  
  .hof-vol-job .job-table .cssJobShiftSignup a:hover,
  .hof-vol-job .job-table .cssJobShiftSignup a:focus {
    background: #7e4f5f;
  }